html {
  height: 100%;
  background-image: url(brogs.jpg);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin:0;
}

.all {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #076652;
  width: 100%;
  height: 80px;
  margin: 0;
  font-size: 24px;
}

.menu {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: 25px;
}

.home { 
  grid-area: 2 / 3 / 4 / 6; 
  border-bottom: 1px solid black;
  margin: 0 auto;
  font-size: 24px;
  transition: .5s;

}

.aboutMe { 
  grid-area: 2 / 8 / 4 / 11;
  border-bottom: 1px solid black;
  margin: 0 auto;
  font-size: 24px;
  transition: .5s;


}
.home:hover {
  cursor: pointer;
  transform: scale(1.1,1.3);
  transition: .75s;
}
.aboutMe:hover {
  cursor: pointer;
  transform: scale(1.1,1.3);
  transition: .75s;
}

.parent-ss {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: 25px;
}

.ss1 { grid-area: 1 / 1 / 7 / 7; }
.ss2 { grid-area: 1 / 7 / 7 / 13; }
.ss3 { grid-area: 7 / 7 / 13 / 13; }
.ss4 { grid-area: 7 / 1 / 13 / 7; }

.ss1 {
  padding: 10px;
  margin: 15px;
  transition: .25s;
  background-color: #800f26 ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  height: 50px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px gray;
  text-align: center;
  font-size: 24px;
}

.ss2 {
  padding: 10px;
  margin: 15px;
  transition: .25s;
  background-color: #15195b ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;  height: 50px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px gray;
  text-align: center;
  font-size: 24px;
}
.ss3 {
  padding: 10px;
  margin: 15px;
  transition: .25s;
  background-color: #a46028 ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  height: 50px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px gray;
  text-align: center;
  font-size: 24px;
}
.ss4 {
  padding: 10px;
  margin: 15px;
  transition: .25s;
  background-color: #8d7b16 ;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;  height: 50px;
  border-radius: 4px;
  box-shadow: 4px 4px 4px gray;
  text-align: center;
  font-size: 24px;
}

.ss1:hover {
  transform: scale(1.1,1.3);
  transition: .75s;
  background-color: #9c1631;
  cursor: pointer;

} 

.ss2:hover {
  transform: scale(1.1,1.3);
  transition: .75s;
  background-color: #252a8e;
  cursor: pointer;

} 

.ss3:hover {
  transform: scale(1.1,1.3);
  transition: .75s;
  background-color: #b7611a;
  cursor: pointer;

}
 
.ss4:hover {
  transform: scale(1.1,1.3);
  transition: .75s;
  background-color: #a18d1b;
  cursor: pointer;

}

.parent-about {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

}

.div1 { grid-area: 1 / 1 / 3 / 5; }
.AM { grid-area: 1 / 5 / 3 / 13; }
.s1 { grid-area: 1 / 5 / 3 / 13; }
.s2 { grid-area: 1 / 5 / 3 / 13; }
.s3 { grid-area: 1 / 5 / 3 / 13; }
.s4 { grid-area: 1 / 5 / 3 / 13; }



 .div1 {
 
   border: 2px solid black;
   margin-top: 100px;   
 }

.img {
  height: 100%;
  width: 100%;
}
.AM  {
  border: 2px solid black;
  margin-top: 100px;
  padding: 30px;
  background-image: linear-gradient(to right, #076652, #2f850a);
  text-align: center;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 18px;
  line-height: 2;
}

.s1  {
  border: 2px solid black;
  margin-top: 100px;
  padding: 30px;
  background-image: linear-gradient(to right, #800f26, #9c1631);
  text-align: center;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 18px;
  line-height: 2;
}

.s2  {
  border: 2px solid black;
  margin-top: 100px;
  padding: 30px;
  background-image: linear-gradient(to right, #15195b, #252a8e);
  text-align: center;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 18px;
  line-height: 2;
}

.s3  {
  border: 2px solid black;
  margin-top: 100px;
  padding: 30px;
  background-image: linear-gradient(to right, #8d7b16, #a18d1b);
  text-align: center;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 18px;
  line-height: 2;
}

.s4  {
  border: 2px solid black;
  margin-top: 100px;
  padding: 30px;
  background-image: linear-gradient(to right, #a46028, #b7611a);
  text-align: center;
  display: flex;
  justify-content: center;
  color: whitesmoke;
  font-size: 18px;
  line-height: 2;
}


.contactForm{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
 border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 100px; /* Add a top margin */
  margin-bottom: 25px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

.emailInput {
  padding: 12px; /* Some padding */ 
  
}

.nameInput {
  padding: 12px; /* Some padding */ 


}
.messageInput {
  
  padding: 12px; /* Some padding */ 

}


.submitButton {
  display: flex;
  justify-content:center;
  margin: 0 auto;
  width: 100px;
}


.appear {
  display: block;
}

.vanish {
  display: none;
}

.footer {
  height: 20px;
}
