html {
  height: 100%;
  background-color: #f4f0f3 ;
  width: 100%;
  margin:0;
}

.all {
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  width: 100%;
  height: 80px;
  margin: 0;
}

.menu {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: 25px;
}

.home { 
  grid-area: 2 / 3 / 4 / 6; 
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.aboutMe { 
  grid-area: 2 / 8 / 4 / 11;
  border-bottom: 1px solid black;
  margin: 0 auto;
}
.home:hover {
  cursor: pointer;
}
.aboutMe:hover {
  cursor: pointer;
}

.parent-ss {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(12, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
margin-top: 25px;
}

.ss1 { grid-area: 1 / 1 / 7 / 7; }
.ss2 { grid-area: 1 / 7 / 7 / 13; }
.ss3 { grid-area: 7 / 7 / 13 / 13; }
.ss4 { grid-area: 7 / 1 / 13 / 7; }

.ss1 {
  padding: 10px;
  margin: 15px;
  transition: .25s;
  background-color: #800f26 ;
  height: 50px;
  border-radius: 4px;
}

.ss2 {
  padding: 10px;
  margin: 15px;
  transition: .25s;
  background-color: #15195b ;
  display: cover;
  height: 50px;
  border-radius: 4px;
}
.ss3 {
  padding: 10px;
  margin: 15px;
  transition: .25s;
  background-color: #155b15 ;
  display: cover;
  height: 50px;
  border-radius: 4px;
}
.ss4 {
  padding: 10px;
  margin: 15px;
  transition: .25s;
  background-color: #8d7b16 ;
  display: cover;
  height: 50px;
  border-radius: 4px;
}

.ss1:hover {
  transform: scale(1.1,1.5);
  transition: .75s;
  background-color: #9c1631;
  cursor: pointer;

} 

.ss2:hover {
  transform: scale(1.1,1.5);
  transition: .75s;
  background-color: #252a8e;
  cursor: pointer;

} 

.ss3:hover {
  transform: scale(1.1,1.5);
  transition: .75s;
  background-color: #1b791b;
  cursor: pointer;

}
 
.ss4:hover {
  transform: scale(1.1,1.5);
  transition: .75s;
  background-color: #a18d1b;
  cursor: pointer;

}

.parent-about {
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;

}

.div1 { grid-area: 1 / 1 / 3 / 5; }
.div2 { grid-area: 1 / 5 / 3 / 13; }


 .div1 {
 
   border: 2px solid black;
   margin-top: 100px;
   padding: 20px;
   
   
 }

.div2 {
  border: 2px solid black;
  margin-top: 100px;
  padding: 20px;
  
}

.contactForm{
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 100px; /* Add a top margin */
  margin-bottom: 25px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background-color:lightgray;
}

.emailInput {
  padding: 12px; /* Some padding */ 
  
}

.nameInput {
  padding: 12px; /* Some padding */ 


}
.messageInput {
  
  padding: 12px; /* Some padding */ 

}


.submitButton {
  display: flex;
  justify-content:center;
  margin: 0 auto;
}

.emailInput:hover {
}

.messageInput:hover {

}
.nameInput:hover {
}
.submitButton:hover {
}

.footer {
  height: 20px;
}
